body {
    background: darkblue;
    padding-top: 0;
}

#container {
    width: 100%;
    max-width: 1200px;
    background: lightcyan;
    padding: 2rem;
    margin: 0 auto;
}

main {
    display: flex;
    flex-wrap: wrap;
}

main > article {
    background-color: #f3f3f3;
}

a{
    text-decoration: none;

}

h1{
    color: black;
    text-align: center;
    margin: auto;

}
/* Hentet inspirasjon fra https://stackoverflow.com/questions/21051578/how-do-i-center-an-h1-in-the-body */

.movie-view{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    position: relative;
}
.movie-view a{
    display: inherit;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.movie-view h2{
    width: 100%;
}
.movie-card {
    max-width: 300px;
    width: 100%;
    border: 4px solid darkblue;
    padding: 2rem;
    position: relative;
  }

input{
    font-size: 1rem;

}

button{
    font-size: 1rem;
    background-color: lightblue;
    margin: 0.1rem;
}